* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    background: #262729;
    color: #fff;
    width: 100%;
    height: 80px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 5%);
    position: fixed;
    z-index: 9999;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.auth-container {
    min-height: 90vh !important;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
}

.show-password {
    position: absolute;
    right: 50px;
    bottom: 140px;
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 375px) {
    .show-password{
        right: 50px;
        bottom: 164px;
    }
}

.dashboard-container {
    display: flex !important;
    padding-top: 110px !important;
    min-height: 100vh;
}

.side-bar {
    flex: 10% !important;
    height: 78.9vh !important;
    position: sticky;
    top: 120px;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: scroll;
    /* z-index: 9999; */
    box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
}

.side-bar ul {
    padding-left: 15px;
}

.side-bar ul li {
    list-style: none;
    padding: 25px 0px;
    display: flex;
    padding-left: 10px !important;
    margin: 15px 0 !important;
    align-items: center;
}

.side-bar ul auth-containerli a,
.side-bar ul li.toggleTheme {
    cursor: pointer !important;
}

 li.active .icon {
    color: #0781fe;
}

.side-bar-mobile {
    position: fixed;
    left: 0;
    top: 80px;
    /* padding-top: 100px; */
    width: 100% !important;
    height: 100% !important;
    transition: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 4ms;
    overflow-y: auto;
    z-index: 9999;
}

.side-bar-mobile ul {
    padding-left: 5px;
}

.side-bar-mobile ul li {
    list-style: none;
    padding: 15px 0;
}

.hide-side-bar {
    position: fixed;
    left: -100%;
    top: 80px;
    width: 100% !important;
    height: 100% !important;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
}

.hide-side-bar ul li {
    list-style: none;
    padding: 15px 0;
}

.dashboard-preview {
    flex: 4;
    padding: 10px 20px;
    margin-left: 20px;
    overflow-y: auto;
}
.content {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 10%);
}

@media screen and (max-width: 1024px) {
    ul.nav li {
        list-style: none;
        display: none;
    }
     
    .side-bar {
        display: none;
    }

    .dashboard-preview {
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .toggleIcon,
    .side-bar-mobile {
        display: none;
    }
}

.side-bar::-webkit-scrollbar {
    width: 3px;
    scroll-behavior: smooth;
    box-shadow: inset 0 0 10px rgba(233, 237, 239, 0.12);
}
.side-bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: grey;
    height: 14px !important;
}
